.container {
    height:auto;
    margin: auto;
    width: 100%;
    
    background-color: aqua;
    border: 1px solid;
    
   
}

.header {
    width: 100%;
    height: 15%;
    background-color: blue;
}

.sidebar {
    width: 20%;
    height: 75%;
    background-color: red;
    float: left;
}

.content {
    width: 80%;
    height: 75%;
    background-color: #00ff90;
    float: right;
}

.footer {
    width: 100%;
    height: 10%;
    background-color:blue;
    float: left;
}
